<div class="container">
	<% if flash[:notice] %>
		<div class="alert alert-success" style="margin-top:2%">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Success!</strong> <%= flash[:notice] %>
		</div>
	<% end %>
    <% if flash[:error] %>
        <div class="alert alert-danger" style="margin-top:2%">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Import Error!</strong> <%= flash[:error] %>
        </div>
    <% end %>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <fieldset>
                <legend>Import Article From Excel file</legend>
                <div class="alert alert-danger">
                    <strong>Warning!</strong> Before importing file<br>
                    1. First row should be column name (title and content)<br>
                    2. <strong>title</strong> - string<br>
                    3. <strong>content</strong> - text<br>
                    4. Make sure your file are is xlsx format.
                </div>
                <%= form_tag import_articles_path, multipart: true, :class => "form-horizontal", :role => "form" do %>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <%= file_field_tag :file, class: "btn btn-default" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <%= submit_tag "Import", class: "btn btn-default btn-primary" %> 
                        </div>
                    </div>
                <% end %>
            </fieldset>
        </div>
    </div>


	<% @articles.each do | article | %>
	<div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="<%= article_path(article.id) %>">
                    <h2 class="post-title">
                        <%= article.title %>
                    </h2>
                </a>
                <p class="post-meta">Posted by <a href="#">Admin</a> on <%= Date.strptime("#{article.updated_at}","%Y-%m-%d %H:%M:%S %Z").strftime("%A, %m %B %Y") %></p>
            </div>
            <hr>
        </div>
    </div>
    <% end %>
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
    	</div>
    </div>
</div>
